:root{
    --secondary-color:#EFECE8;
    --primary-color:#BF9B75;
    --secondary-font:"Poppins", sans-serif;
    --primary-font:"Playfair Display", serif;
}
body{
    background-color: var(--secondary-color);
    font-family: var(--secoondary-font);
    font-weight: 300px;
}
.navbar-background{
    background-color: var(--secondary-color);
}
.nav-link{
    color: var(--primary-color);
}
.nav-link:hover{
    opacity: 0.9;
    color: #BF9B75;
}
.main-page{
    padding: 150px;
    border:1px solid white;
    box-shadow: 1px 1px 5px var(--primary-color);
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/137/451/original/Coffee.jpeg?1722890433);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    opacity: 0.9;
   
    }
 
  .category-one{
    padding: 80px;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/134/394/original/Caffe_Mocha_Magic_for_Chocolate_Coffee_Lovers_-_Happy_Baking_Days.jpeg?1721423318);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;

}
.category-two{
    padding: 80px;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/134/395/original/download_%2825%29.jpeg?1721423453);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    
}
.category-three{
    padding: 80px;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/134/397/original/Premium_Photo___Hot_Coffee_Capuccino_Cup_With_Latte_Art_On_Wood_Table_At_Cafe.jpeg?1721423668);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;

}
.last-section-one, .last-section-two,.last-section-three{
    margin: 40px;
    text-align: center;
}
.category-align{
    text-align: center;
}

.image-height{
    height: 320px;

}
.previous-price{
text-decoration: line-through;
opacity: 0.5;
}
.price-aligning{
text-align: right;
}

.blog-align{
margin: 40px;
}
.blog-image{
height: 180px;
}
.blog-heading{
font-size: 16px;

}
.blog-semiheading{
color: var(--primary-color);
}
.blog-description{
font-size: 14px;
opacity: 0.6;
}
.main-imageheight{
height: 600px;
}
.semi-imageheight{
height: 300px;
}
.game-icons--coffee-cup {
display: inline-block;
width: 20px;
height: 20px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='brown' d='M144 32S94.11 69.4 96 96c1.604 22.57 44.375 25.665 48 48c1.91 11.772-16 32-16 32s48-25.373 48-48s-42.8-25.978-48-48c-3.875-16.414 16-48 16-48m80 0s-49.89 37.4-48 64c1.604 22.57 44.375 25.665 48 48c1.91 11.772-16 32-16 32s48-25.373 48-48s-42.8-25.978-48-48c-3.875-16.414 16-48 16-48m80 0s-49.89 37.4-48 64c1.604 22.57 44.375 25.665 48 48c1.91 11.772-16 32-16 32s48-25.373 48-48s-42.8-25.978-48-48c-3.875-16.414 16-48 16-48M73.293 201c1.43 63.948 18.943 179.432 74.707 238h152c55.764-58.568 73.278-174.052 74.707-238zm319.598.445c-.186 9.152-.652 19.252-1.472 30.057C419.312 235.162 441 259.142 441 288c0 31.374-25.626 57-57 57a56.7 56.7 0 0 1-12.764-1.465c-2.912 9.62-6.176 19.165-9.84 28.51A87.5 87.5 0 0 0 384 375c48.155 0 87-38.845 87-87c0-45.153-34.153-82.12-78.11-86.555zM42.763 457c1.507 5.193 3.854 11.2 6.955 16.37c2.637 4.394 5.69 8.207 8.428 10.58C60.882 486.32 63 487 64 487h320c1 0 3.118-.678 5.855-3.05c2.738-2.373 5.79-6.186 8.428-10.58c3.1-5.17 5.448-11.177 6.955-16.37z'/%3E%3C/svg%3E");
margin-right: 100px;
}
.mini-heading{
color: var(--primary-color);
font-size: 25px;
}
.main-heading{
color: var(--primary-color);
font-size: 90px;
font-weight: 400px;
}

.sub-heading{
color:var(--secondary-color);
font-size: 15px;
text-decoration: none;
background-color: var(--primary-color);
padding: 10px;

}

.final-section{
background-color: var(--primary-color);
color: white;
}
.top-product-buttons{
background-color: white;
opacity: 0.5;
font-size: 14px;
}
.top-product-buttons:hover{
color: white;
background-color: var(--primary-color);
}
.final-section-heading{
font-size: 20px;
}
.card-title{
font-size: 16px;
}
@media (max-width: 576px) {
    .main-page{
        padding:50px;
        margin: 5px;
        
      }
      .main-heading{
        font-size: 30px;
      }
      .mini-heading{
        font-size: 15px;
      }
      .sub-heading{
        padding: 5px;
      }
    .category-one,  .category-two, .category-three{
        padding: 80px;
       margin: 10px;
    }
    .last-section-one, .last-section-two,.last-section-three{
        margin: 5px;
    }
    .special-product{
        margin: 25px;
    }
    .blog-align{
        margin: 10px;
        }
    .blog-image{
        height: 200px;
     
    }
.blog-heading{
text-align: center;
}
.blog-semiheading{
text-align: center;
}
    .image-height{
        height: 250px;
    }
    .coffee-image{
        display: none;
    }
}